@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red;
}

li:hover {
  @apply cursor-pointer;
}

.button-selection {
  border: 1px solid;
  @apply h-3 w-3 shadow-sm rounded-full bg-ml-mid-black border-white hover:bg-white hover:border-ml-mid-black;
}

.span-footer {
  @apply text-xs text-black;
}

.span-footer-secondary {
  @apply text-[11px] text-ml-gray;
}
